Source: axiom-nic
Section: unknown
Priority: optional
Maintainer: Massimiliano <massy@unknown>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/axiom-apps.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/axiom-apps.git;a=summary

Package: linux-module-axiom-netdev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libaxiom-user
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libaxiom-user-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
