#!/usr/bin/make -f

DEBIAN_DIR := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))

ifndef LINARO
$(warning LINARO environment variable not defined)
endif

ifeq ($(MODE),aarch64)
#
# seco
#
KERNELDIR := $(AXIOMBSP)/build/linux/kernel/link-to-kernel-build
else ifeq ($(MODE),x86)
#
# x86
#
ifdef _KVERSION
KERNELDIR := /lib/modules/$(_KVERSION)/build
else
KERNELDIR := /lib/modules/$(shell uname -r)/build
endif
else
#
# other
#
$(warning Unknown MODE='$(MODE)')
endif

KVERSION := $(shell cat $(KERNELDIR)/include/config/kernel.release)

.PHONY: build build-arch build-indep binary binary-arch binary-indep clean

build: build-arch build-indep

build-arch:
	dh_testdir
	make

build-indep:

binary: binary-arch binary-indep

binary-arch: make-changelog init-install init-control
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) DESTDIR=$(DEBIAN_DIR)/tmp  install
	rm -f $(DEBIAN_DIR)/tmp/lib/modules/*/modules.*

	dh_install --list-missing
	rm -r -f $(DEBIAN_DIR)/libaxiom-user/usr/lib/pkgconfig

	dh_installdocs
	dh_installchangelogs
	dh_installexamples
	dh_installman
	dh_installcatalogs
	dh_installcron
	dh_installdebconf
	dh_installemacsen
	dh_installifupdown
	dh_installinfo
	dh_installinit
	dh_installmenu
	dh_installmime
	dh_installmodules
	dh_installlogcheck
	dh_installlogrotate
	dh_installpam
	dh_installppp
	dh_installudev
	dh_installwm
	dh_installgsettings

	dh_bugfiles
	dh_ucf
	dh_lintian
	dh_gconf
	dh_icons
	dh_perl
#	dh_usrlocal

	dh_link
	dh_installxfonts
	dh_compress
	dh_fixperms

	dh_strip -plibaxiom-user --dbg-package=libaxiom-user-dbg
	echo "kversion=$(KVERSION)" >>$(DEBIAN_DIR)/axiom-evi-nic-modules.substvars
	PATH=$(LINARO)/host/usr/bin:$(PATH) dh_makeshlibs
	dh_shlibdeps  --sysroot=$(ROOTFS)
	dh_installdeb
	dh_gencontrol -plibaxiom-user -plibaxiom-user-dev -plibaxiom-user-dbg
	dh_gencontrol -paxiom-evi-nic-modules -- -DPackage=axiom-evi-nic-modules-$(KVERSION)
	mv $(DEBIAN_DIR)/axiom-evi-nic-modules/usr/share/doc/axiom-evi-nic-modules \
		$(DEBIAN_DIR)/axiom-evi-nic-modules/usr/share/doc/axiom-evi-nic-modules-$(KVERSION)
	dh_md5sums
	dh_builddeb

binary-indep:

clean: clean-changelog init-control
	dh_testdir
#	make clean
	dh_clean

#
# init-install
#

init-install:
ifeq ($(MODE),x86)
	ln -fs $(DEBIAN_DIR)/libaxiom-user.install.x86 $(DEBIAN_DIR)/libaxiom-user.install
	ln -fs $(DEBIAN_DIR)/libaxiom-user-dev.install.x86 $(DEBIAN_DIR)/libaxiom-user-dev.install
else
	ln -fs $(DEBIAN_DIR)/libaxiom-user.install.other $(DEBIAN_DIR)/libaxiom-user.install
	ln -fs $(DEBIAN_DIR)/libaxiom-user-dev.install.other $(DEBIAN_DIR)/libaxiom-user-dev.install
endif

#
# init-control
#

init-control:
ifeq ($(FS),x86)
	ln -fs $(DEBIAN_DIR)/control.x86 $(DEBIAN_DIR)/control
else
	ln -fs $(DEBIAN_DIR)/control.other $(DEBIAN_DIR)/control
endif

#
# changelog
#

VERSION := $(shell git describe --tags --dirty | sed -e 's/^axiom-v//'  -e 's/-/+/' -e 's/-/~/g')

define changelog
axiom-nic ($(VERSION)) unstable; urgency=low

  * Dummy changelog.

 -- Foo <foo@bar>  Tue, 07 Feb 2017 09:48:11 +0100
endef
export changelog

.PHONY: make-changelog clean-changelog

make-changelog:
	echo "$$changelog" >$(DEBIAN_DIR)/changelog

clean-changelog:
	rm -f $(DEBIAN_DIR)/changelog
